<h1>{{title}}</h1>
<form id="form">
    <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" placeholder="John Doe">
  </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" name="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="number" class="form-control" name="phone" >
  </div>
    <a class="btn btn-primary" href="/" role="button">Back</a>

    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    
</form>